@page "/lore"
@using System.Net.Http.Json
@inject HttpClient Http

<h2>Lore</h2>
<div class="card">
  <p class="small">Available lore files (fetched from Azure Blob Storage)</p>
  <ul>
    <li><a href="#">galaxai-master-spec.md</a></li>
  </ul>
</div>
